<nav class="tabs">
  <h1 style=>BETSEE</h1>
  <div class="links">
    <a ui-sref-active="active" ui-sref="home">HOME</a>
    <a ui-sref-active="active" ui-sref="new">NEW PROJECT</a>
  </div>
</nav>

<!-- EDIT INDIVIDUAL PROJECT (include option to delete) -->
<main>
  <body ng-app="BetseeProjects">
    <section ng-controller="ProjectsCtrl as projects">
      <form id="updateProject">
        <p>
          <label for="updateProject-author"></label>
          <input type="text" id="updateProject-author" placeholder="AUTHOR" ng-model="project.updateProject.name">
        </p>
        <p>
          <label for="updateProject-email"></label>
          <input type="text" id="updateProject-email" placeholder="EMAIL" ng-model="project.updateProject.email">
        </p>
        <p>
          <label for="updateProject-title"></label>
          <input type="text" id="updateProject-title" placeholder="POJECT TITLE" ng-model="project.updateProject.project_title">
        </p>
        <p>
          <label for="updateProject-refimg"></label>
          <input type="text" id="updateProject-refimg" placeholder="REFERENCE IMAGE" ng-model="project.updateProject.refimg">
        </p>
        <p>
          <label for="updateProject-img"></label>
          <input type="text" id="updateProject-img" placeholder="FINAL PRODUCT" ng-model="project.updateProject.img">
        </p>
        <p>
          <!-- <button class="access" ng-app="Pattern" ng-controller="PatternCtrl as pattern" ng-click="pattern.newPattern()">EDIT PATTERN</button> -->
        </p>
        <p>
          <button ng-click="projects.updateProject(project)">SUBMIT</button>
        </p>
      </form>
    </section>
  </body>
</main>
